@model IEnumerable<ProyectoCGAPYS.Models.Licitacion>

@{
    ViewData["Title"] = "Listado de Licitaciones";


    string GetStatusClass(string estado)
    {
        switch (estado?.ToLower()) // Usamos ToLower() para no distinguir mayúsculas/minúsculas
        {
            case "abierta":
                return "status-abierta";
            case "adjudicada": // Ejemplo de otro estado
                return "status-adjudicada";
            case "cancelada": // Ejemplo de otro estado
                return "status-cancelada";
            case "cerrada":
                return "status-cerrada";
            default:
                return "status-cerrada"; // Un color por defecto si el estado no coincide
        }
    }
}

<link rel="stylesheet" href="~/css/Licitaciones.css" asp-append-version="true" />
</br>
</br>
</br>
<div class="card-licitaciones">
    <h1 class="mb-4">@ViewData["Title"]</h1>

    <table class="table-custom">
        <thead>
            <tr>
                <th>
                    Número de Licitación
                </th>
                <th>
                    Proyecto Asociado
                </th>
                <th>
                    Fecha Límite (Propuestas)
                </th>
                <th>
                    Estado
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <strong>@Html.DisplayFor(modelItem => item.NumeroLicitacion)</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Proyecto.NombreProyecto)
                    </td>
                    <td>
                        @if (item.FechaFinPropuestas.HasValue)
                        {
                            @item.FechaFinPropuestas.Value.ToString("dd MMM, yyyy")
                        }
                        else
                        {
                            <span class="text-muted">No definida</span>
                        }
                    </td>
                    <td>
                        <span class="status-badge @GetStatusClass(item.Estado)">
                            @Html.DisplayFor(modelItem => item.Estado)
                        </span>
                    </td>
                    <td class="text-right">
                        <a asp-action="Detalles" asp-route-id="@item.Id" class="btn-details-custom">Detalles</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>